body {
	font-family: 'Righteous', cursive;
	background: url("img-homepage/bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding-top: 70px;
	color:  white; 
}

li  {
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
}

div	{	
	font-family: 'Righteous', cursive;
}

.text-1{
	color:#0f467c;
	font-size: 60px;
	font-weight: 200;
  
}

.text-2{
	color:#0f467c;
	font-size: 97px;
	font-weight: 200;

}


#buttons > .row {
  margin: 20px 50px;
}

.btn {
  color:#e7e7e7;
  background-color: #0f467c;
}

.btn:hover,
.btn:active{
    background-color: #e7e7e7;
    color: #0f467c;
}

/*onload animation*/

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.three {
-webkit-animation-delay: .5s;
-moz-animation-delay: .5s;
animation-delay: .5s;
}

.five {
-webkit-animation-delay: .5s;
-moz-animation-delay: .5s;
animation-delay: .5s;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@media only screen and (max-width: 400px) {

.text-1{
  color:#0f467c;
  font-size: 40px;
  font-weight: 200;
  
}

.text-2{
  color:#0f467c;
  font-size: 67px;
  font-weight: 200;

}


@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }